/vagrant/.vagrant
/src/node_modules
/vagrant/ubuntu-xenial-16.04-cloudimg-console.log
/src/.env
/src/client/lib
/src/client/app/config.js
.tmp
/src/public/scripts/bundle.js
/src/public/scripts/bundle.min.js
/src/public/css/style.css
/src/public/scripts/app.js
/src/server/types
/src/yarn-error.log
/src/public/scripts/app.min.js
/docker/.clone
/docker/build.tar.gz
