<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link rel="stylesheet" href="/css/style.css" type="text/css">

        <meta http-equiv="content-type" name="description" content="">
        <meta http-equiv="content-type" name="keywords" content="">
        <title>{{title}}</title>
    </head>
    <body>
        <div id="reactHook"></div>

        {{#if bundle}}
            <script src="lib/system.js"></script>
            <script src="scripts/bundle{{bundlemode}}.js"></script>
            <script src="scripts/config{{bundlemode}}.js"></script>        
        {{else}}
            <script src="/lib/system.js"></script>    
            <script src="/app/config.js"></script>
            <script>System.import('/app/main/main')</script>
        {{/if}}
        
    </body>
</html>