<html>
    <head>
        {{{block "basehead"}}}

        <link rel="stylesheet" href="/css/base.css" type="text/css">
    </head>
    <body>
        <div id="reactHook"></div>

        {{{block "body"}}}

    </body>
</html>
